body{
    background-color: azure;
}

.blur{
   /* background-image:url("blurbg.jpg");*/
    background-repeat: no-repeat;
    background-color:white;
    background-size: cover;
}

.home-first{
    background:url("final.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:pink;
    margin: 20px 45px 45px 45px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    border-style:none;
    border-radius:4%;

}

.white-heading{
    color:white;
    font-size:100px;
    text-align:center;
    font-weight:bolder;
    padding-top:0em;
    position:relative;
    top:0px;
    font-family: 'Stick No Bills', sans-serif;
}

.white-subheading{
    color:white;
    font-size:30px;
    text-align:center;
    font-weight:bolder;
    padding-left:15px;
    padding-right:15px;
    font-family: 'Ubuntu', sans-serif;
}

.black-subheading{
    color:black;
    font-size:50px;
    text-align:center;
    font-weight:bolder;
    padding-left:15px;
    padding-right:15px;
    font-family: 'Staatliches', cursive;
    padding-top:15px;

}


.button{
    color:black;
    background-color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 5px;
    font-size: 20px;
    border-radius: 25em;
    border-color: black;
    border-style: solid;
    padding: .4em 2em;
    align-items:center !important;
    margin-top:17px;
    margin-left:55px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
   }

   input{
        color:black;
        background-color:white;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 5px;
        font-size: 20px;
        border-color:#193b84;
        border-style:dotted; 
        align-items:justify !important;
        box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
       
   }

.button:hover{
    transform:scale(1.02);
    color:white;
    background-color: black;
    border-color:white;

}




.card{
    width:30px;
     background:linear-gradient(30deg,white,azure) !important;
    border-width: 2px !important;
    border-radius:5% !important;
     border-color:#f8eded !important;
     border-style: solid !important;
     color:black;
     font-size:large;
     font-weight:bold;
     padding-top:10px;
     text-align:center;
     padding-bottom:10px;
     box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
     margin-left:40px;
     margin-right:40px;

 }

 .black-heading{
    color:black;
    font-size:50px;
    font-weight:20px;
    text-align:center;
}


.bluebg{

    background: linear-gradient(140deg,#193b84 15%,#037bc1);
    margin:0px, 0px, 0px, 0px;
}

.about-text{
    padding:15px,15px,15px,15px;
    text-align:center;
    font-family: 'Gemunu Libre', sans-serif;
    

}

.logo{
    width:90px;
    height:90px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    padding-left:10px;
    position:relative;
}
.qna-first{

    background:url("https://raisatarasova.files.wordpress.com/2013/06/philip_barlow1.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 

}

.norm-text{
    font-size:large;
    font-weight:bold;
    color:white;
   
    
}

.imag{
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    border-style: dotted;
    border-color: burlywood;
}


.teal{
  /*  background:url("https://cdn.dribbble.com/users/580/screenshots/2371491/spinkit6.gif");*/
  background-color:hsl(170, 41%, 46%);
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
}

.pink{
   
    background-color:#ff8dac;
      background-repeat:no-repeat;
      background-size: cover;
      box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
  }

  .yellow{
    background-color:yellowgreen;
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
  }

  .orange{
      background-color:#ff8c00;
      box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
  }


.germyfont{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.4em !important;
    font-size:100px !important;
    padding-top:15px;
}

.blink{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.4em !important;
    font-size:100px !important;
    padding-top:15px;
    color:black;
    animation: color-change 4s infinite;
}


  
  
  @keyframes color-change {
    0% { color:hsl(163, 95%, 57%) ; }
    50% { color: black; }
    100% { color:hsl(163, 95%, 57%); }
    
  }


  /*for protect.html */
  .protect{
    background:url("https://post.healthline.com/wp-content/uploads/2019/02/Blurred-vision-and-headache-What-Causes-Them-Both-_1200x628-facebook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:pink;
    margin: 20px 45px 45px 45px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    border-style:none;
    border-radius:4%;
  }

  .azurebox{
      background-color:white;
      box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
  }




@media (max-width:576px) {

    .exercise{
       background-color:teal !important;
        background-repeat:no-repeat;
    background-size: cover;
    
    }

    .image{
      height:200px;
      width:200px;
    }

    .blink{
        font-family: 'Luckiest Guy', cursive;
        letter-spacing: 0.4em !important;
        font-size:40px !important;
        padding-top:15px;
        color:black;
        animation: color-change 4s infinite;
    }

    .germyfont{
        font-family: 'Luckiest Guy', cursive;
        letter-spacing: 0.4em !important;
        font-size:50px !important;
        padding-top:15px;
    }


    .white-subheading{
        font-size:20px;
        text-align:center;
        margin-left:5px;
            margin-right:5px;
    }

    .white-heading{
        font-size:50px;
        text-align:center;
        margin-left:5px;
            margin-right:5px;
    }

    .button{
        padding:15px 15px 15px 15px;
        font-weight: 5px;
        font-size: 20px;
        border-radius: 25em;
        margin-left:10px;
        margin-right:10px;
    }
 
    .image{
        padding-top:20px;
        padding-bottom:20px;
        align-items:center;
        margin: 15px;
        width:90%;
    }

    .bluebg{
        text-align:center;
    }



}